<script src="js/render.js"></script>
<h1>{{  track.name }}</h1>
<div id="chartContainer" style="max-width: 1500px; max-height: 400px;"></div>
<table id="data" class="table table-striped table-hover">
    <thead>
        <tr>
            <th id="x">{{ track.x }}</th>
            <th id="y">{{ track.y }}</th>
        </tr>
    </thead>
    <tbody id="points">
        <tr ng-repeat="point in track.data">
            <td>{{ point.x }}</td>
            <td>{{ point.y }}</td>
        </tr>
    </tbody>
</table>
