<div class="tracker-list" ng-controller="trackingListCtrl">
    <H3>Tracking:</H3>
    <h6>View By: </h6>
    <select ng-model="orderProp">
        <option value="name">Alphabetical</option>
        <option value="created">Date Created</option>
    </select>
    <a href="#/create"><button type="button" class="btn btn-success" 
        style="margin-left:69.5%">New Tracker</button></a>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Number</th>
                <th>Name</th>
                <th>Entries</th>
                <th>Date Created</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="tracked in tracking | filter:query | orderBy:orderProp">
                <td>{{ $index+1 }}</td>
                <td><a href="#/finances/{{tracked._id}}">{{ tracked.name }}</a></td>
                <td>{{ tracked.entries }}</td>
                <td>{{ tracked.created }}</td>
                <td><button type="button" class="btn-sm btn-danger" style="font-size:11px;" 
                    ng-click="delete(tracked._id)">Delete</button></td>
            </tr>
        </tbody>
    </table>
</div>
